/* إعادة ضبط */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* الصفحة */
body {
    background-color: #0b1c2d;
    font-family: Tahoma, Arial, sans-serif;
    color: white;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;

    transition: background 0.5s ease;
}

/* عند نجاح التحقق */
body.unlocked {
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    background-attachment: fixed;
}

/* طبقة تعتيم للخلفية المائية */
body.unlocked::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: rgba(11, 28, 45, 0.85);
    z-index: -1;
}

/* الحاوية */
.container {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

/* الصورة (قبل الفتح فقط) */
.invitation-img {
    display: block;
    margin: 0 auto 8px auto;
    width: 450px;
    max-width: 90%;
}

/* إخفاء الصورة بعد الفتح */
body.unlocked .invitation-img {
    display: none;
}

/* حقل الإدخال والزر */
input,
button {
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: none;
    font-size: 15px;
}

input {
    width: 240px;
    outline: none;
}

button {
    background-color: #00bcd4;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0097a7;
}

/* إخفاء الإدخال بعد الفتح */
body.unlocked input,
body.unlocked button {
    display: none;
}

/* نص الدعوة */
#invitation {
    display: none;
    margin: 40px auto 0 auto;
    background-color: rgba(18, 38, 58, 0.01);
    padding: 25px;
    border-radius: 14px;
    width: 90%;
    max-width: 520px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

/* إظهار النص بعد الفتح */
body.unlocked #invitation {
    display: block;
}
